.jumbotron{
    padding: 60px 20px 20px 1px;
    background-color:rgb(238, 236, 243);
    color:black;
    text-align: center;
}

footer{
    padding: 20px 10px 0 10px;
    background-color:rgb(159, 236, 166);
    margin-bottom:20px;
    margin-top: 20;
}

.boton{
    width: 100%;
}

.cuadro{
    flex: 20 150px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.barra{
    padding: 5px 10px 10px 5px;
    
}

.container{
    padding: 60px 20px 50px 20px;
}
.justi{

    text-align: justify;

}
.cajita{
    background: #e2fdf4; 
    color: #0ebd84; 
    font-weight: bold; 
    padding: 2px 2px 0px 10px;
    border: 2px solid #bdfae6; 
    border-radius: 6px;
    text-align: center;
}